# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main", "feature/**", "bugfix/**" ]
  pull_request:
    branches: [ "main", "feature/**", "bugfix/**" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
        
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: "10.0.x"
    - name: Restore dependencies
      run: dotnet restore TermRTS.sln
    - name: Build
      run: dotnet build TermRTS.sln --no-restore
    - name: Test
      run: dotnet test TermRTS.sln --no-build --verbosity normal
